<!DOCTYPE html>
<html ng-app="textMinig">

<head>
    <meta charset="utf-8">
    <title>Text Mining</title>
    
    <link rel="stylesheet" type="text/css" href="lib/node_modules/angular-material/angular-material.min.css">
    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="lib/node_modules/angular-material/angular-material.js"></script>
    <script src="lib/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="lib/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="lib/node_modules/angular-messages/angular-messages.min.js"></script>
    
    <style type="text/css">

	    div {
	        border: 2px white solid;
	    }

	    .md-errors-spacer {
	        display: none;
	    }

	</style>
    
    <script>
        angular.module('textMinig', ['ngMaterial', 'ngMessages']) // ng-app

	    // Alterar Tema do angular Material
	    .config(function($mdThemingProvider) {
	    	$mdThemingProvider.theme('default')
	    	.primaryPalette('blue-grey'); // Muda a cor
    	});

	    // Controller
	    angular.module('textMinig').controller('textMinigController', function($scope, $http, $log) {
	    	
	    	$scope.request = {}
	    	$scope.request.comentario = '';

	    	$scope.action_text_minig = function (form) {
	    		if (form.$valid) {
	    			console.log($scope.request.comentario);
	    			$http.post("http://localhost:5000/test2", $scope.request).then(function (response){
	    				console.log(response.data);
	    			}).catch(function (err){
						console.log('Catch By error Exception of HTTP');
						console.log(err)
					});
	    		}
	    	};

	    	$scope.rest_form = function(formulario){
	    		if (formulario) {
		            formulario.$setPristine();
		            formulario.$setUntouched();
		        }
		        $scope.request.comentario = '';
	    	}

	    });

    </script>
</head>

<body ng-controller="textMinigController" ng-cloak layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools" style="border: 0px;">
            <h3>
        <span>Trabalho de IA - UFU 2018</span>
      </h3>
        </div>
    </md-toolbar>

    <md-content class="md-padding" flex-gt-sm>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Digite o comentário a ser avaliado</span>
            </md-card-title-text>
        </md-card-title>

        <form name="form" ng-submit="action_text_minig(form)" enctype="multipart/form-data" novalidate>
            
            <md-input-container class="md-block">
                <label>Comentário</label>
                <input md-maxlength="60" required md-no-asterisk name="comentario" ng-model="request.comentario">
                <div ng-messages="form.comentario.$error" ng-class="{'clear': clear}">
                    <div ng-message="required">É necessário preencher esse campo para enviar.</div>
                    <div ng-message="md-maxlength">Tem que ter no máximo 60 caracters</div>
                </div>
            </md-input-container>

            <div class="container">
                <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                <md-button ng-click="rest_form(form)">Cancelar</md-button>
            </div>

        </form>

    </md-content>

</body>
</html>